


<main>
<!--  <img src="https://cdn.pixabay.com/photo/2014/03/02/05/27/aloe-vera-277948_960_720.jpg" alt="aloe vera blurry" class="aloe-image">-->
  <img src="https://www.simpleskincare.com/sk-eu/content/dam/brands/simple/global_use/1080922-aloe-vera-green-segments-banner.jpg.rendition.1700.650.jpg" alt="aloe vera blurry" class="aloe-image">
</main>