<section class="content" >
  <h2>Order Summary</h2>

<% if @order.order_items.empty? %>
  Cart is Empty
  <% else %>
  <ul>
  <% @order.order_items.each do |order_item| %>
    <li><%= order_item.product.name %> with a quantity of <%= order_item.quantity %></li>
  <% end %>
  </ul>
<% end %>
</section>