<section class="content" >
<div class="row">
  <div class="small-6 large-centered columns" id="order_sum">
    <div class="row">
      <div class="small-12 medium-6 columns">
        <h3>Revenue</h3>

        <p>Paid Order Revenue: </p>
        <p>Completed Order Revenue: </p>
        <p>Total Pending Order Revenue: </p>
        <p>Total Cancelled Order Revenue: </p>
        <p>Total Revenue*: </p>
      </div>
      <div class="small-12 medium-6 columns">
        <h3>Orders</h3>
        <p>Paid Orders: </p>
        <p>Completed Orders: </p>
        <p>Pending Orders: </p>
        <p>Cancelled Orders: </p>
        <p>Total Orders: </p>
      </div>
    </div>
  </div>
</div>
<p class="center">*Total Revenue calculated based on all successfully shipped items.</p>
<table>
  <tbody><tr>
    <th>Order ID</th>
    <th>Order Date</th>
    <th>Items</th>
    <th>
    </th>
    <th>Order Total</th>
  </tr>
  </tbody>
</table>
</section>


