<section class="content">
  <section class="album px-5">
    <h1 class="catalog__header">All Merchants</h1>
    <h4 class="catalog__secondary-header"> <%= @merchants.count %> merchants</h4>
    <hr>
    <% if @merchants.length > 0 %>
      <section class="container-fluid">
        <div class="row">
          <% @merchants.each do |merchant| %>
            <div class="col-md-3">
              <div class="card mb-3 rounded-0 border-0">
                <div class="embed-responsive embed-responsive-1by1">
                  <img class="card-img-top embed-responsive-item rounded-0" src='https://i.ibb.co/v103Jgk/pngtree-simple-cartoon-flower-shop-plant-material-shopsimplecartoongreengradient-png-image-605828-1.jpg' alt=<%= merchant.username%>>
                </div>
                <div class="card-title text-uppercase pt-3">
                  <% if merchant.id == session[:merchant_id] %>
                    <section class="catalog__card-title-container grey">
                      <h5> <%= link_to "LOGGED IN SHOP", products_path(username: merchant.username), class: "catalog__card-title-button text-left"%> </h5>

                    </section>
                  <% else %>
                    <section class="catalog__card-title-container green">
                      <h5> <%= link_to "#{merchant.username}'s Shop", products_path(username: merchant.username), class: "catalog__card-title-button text-left"%> </h5>
                    </section>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </section>
    <% else %>
      <h1>No merchants in the system!</h1>
    <% end %>
  </section>
</section>