<section class="content">
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="embed-responsive embed-responsive-1by1">
          <img class="card-img-top embed-responsive-item rounded-0" src='https://i.ibb.co/c8rp6my/pngtree-workspace-icon-in-trendy-style-isolated-background-png-image-1525500.jpg'>
        </div>
        <%= link_to "Manage Products", products_path(username: @merchant.username) %>
      </div>
      <div class="col-md-3">
        <div class="embed-responsive embed-responsive-1by1">
          <img class="card-img-top embed-responsive-item rounded-0" src='https://i.ibb.co/g67hTJG/202-2024792-user-profile-icon-png-download-fa-user-circle.jpg'>
        </div>
        <%=link_to "Manage Profile", merchant_path(@merchant.id) %>
      </div>
      <div class="col-md-3">
        <div class="embed-responsive embed-responsive-1by1">
          <img class="card-img-top embed-responsive-item rounded-0" src='https://i.ibb.co/47YfP55/dashboard.png'>
        </div>
        <%= link_to "Manage Orders", dashboard_path %>
      </div>
        <div class="col-md-3">
          <div class="embed-responsive embed-responsive-1by1">
            <img class="card-img-top embed-responsive-item rounded-0" src='https://i.ibb.co/3mC5pKj/vector-black-background-shopping-cart-icon-280673.jpg'>
          </div>
        <%= link_to "Shopping", products_path %>
      </div>
    </div>
  </section>
</section>