<section class="content">
  <section class="container-fluid">

    <div class="row">
      <%= link_to "Manage products", products_path(username: @merchant.username) %>
    </div>

    <div class="row">
      <%=link_to "Manage profile", edit_merchant_path(@merchant.id) %>
    </div>

    <div class="row">
      <%= link_to "Manage Orders", dashboard_path %>
    </div>

    <div class="row">
      <%= link_to "Shopping", products_path %>
    </div>

  </section>
</section>