 <section  class="content">
      <h3>Username: <%= @merchant.username %> </h3>
      <% if current_user %>
      <p>Email: <%= @merchant.email %></p>
      <section>
        <%= link_to "Back to Merchants", merchants_path, class: "btn btn-secondary"%>
        <%= link_to "Edit", edit_merchant_path(@merchant.id), class: "btn btn-secondary"%>
      </section>
    <% end %>
  </section>
