/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

// Header

header {
    padding: 30px;
    font-size: 20px;
    max-width: 100%;
    padding-bottom: 0;
    padding-top: 0;
   background-color: #FFFFE0;
}

.header-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 90px;
    color: #18a357;
    -webkit-text-stroke: 3px #135937;
    margin: 0;
    padding: 0;
}

.header-logo:hover {
    text-decoration: none;
    color: #99f542;
}

.header-byline {
    font-family: arial;
    font-style: italic;
    color: #99f542;
    letter-spacing: 3px;
}


h1 {
     margin-bottom: 0px;
}

// Footer

.footer {
      padding-left: 0;
      margin-bottom: 0;
      text-align: center;
      font-weight: 300;
      background-color: #FFFFE0;
      color: #7f7f7f;
}

.footer__text {
  font-size: 12px;
}

.footer__link:hover {
  text-decoration: none;
  color: #7f7f7f;;
}

// Navigation

.nav-item-custom {
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link-custom, a {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 300;
}

.nav-link-custom:hover {
    text-decoration: none;
    color: #7f7f7f;
}

.local-navigation, a {
    color: #609c4c;
}

.local-navigation:hover {
    color: #000;
    text-decoration: none;
}

.navbar-nav li:hover>.dropdown-menu {
    display: block;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav li {
  display: inline;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item-right {
  padding-left: 25px;
}

.left-nav {
    display: flex;
    flex-direction: row;
}

.left-nav div {
  margin-right: 30px;
}

.cart-img {
  width: 30px;
  background-color: #FFFFE0;
  padding-bottom: 5px;
}

.cart-img:hover {
  background-color: yellow;
  border-radius: 45px;
}
// Content

html {
    height: 100%;
}

main {
    margin: 0;
    padding: 0;
 }

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-x: hidden;
    font-family: arial;
}

.content {
    padding: 40px 70px 60px 70px;
}

.user-nav {
  color: #99f542;
}

.order-item-action-in-cart{
  margin-left: 1em;
  list-style: none;
}

.order-item-action-in-cart a{
  color: #135937;
  font-size: smaller;
}

#delete-from-order a{
  color: red;
}

.green {
    color: green;
}

.grey {
    color: grey;
}

