// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

//  @import "merchants";
//  @import "products";
//  @import "orders"

.form-control {
 display:block;
 width:100%;
 height:calc(2.25rem + 2px);
 padding:0.375rem 0.75rem;
 font-size:1rem;
 line-height:1.5;
 color:#495057;
 background-color:#fff;
 background-clip:padding-box;
 border:1px solid #ced4da;
 border-radius:0.25rem;
 transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

form {
  display: block;
  margin-top: 0em;
}

.form-item {
  margin-bottom: 1rem;
}

 .form-inline label {
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:0
 }

 .form-inline .form-group {
  display:flex;
  flex:0 0 auto;
  flex-flow:row wrap;
  align-items:center;
  margin-bottom:0
 }

 .form-inline .form-control {
  display:inline-block;
  width:auto;
  vertical-align:middle
 }

 .form-inline .form-control-plaintext {
  display:inline-block
 }

 .form-inline .input-group, .form-inline .custom-select {
  width:auto
 }

 .form-inline .form-check {
  display:flex;
  align-items:center;
  justify-content:center;
  width:auto;
  padding-left:0
 }

 .form-inline .form-check-input {
  position:relative;
  margin-top:0;
  margin-right:0.25rem;
  margin-left:0
 }

 .form-inline .custom-control {
  align-items:center;
  justify-content:center
 }

 .form-inline .custom-control-label {
  margin-bottom: 0;
 }

 h1, h2,{
   font-weight: bold;
 }

  h1, ,{
  text-align: center;
  }

 a, h2, h3 {
//    color:
 }

 a:hover {
//    color:
   text-decoration: none;
 }

 .alert {
   margin: 0;
 }

 .btn:hover {
//    background-color:
   color: white;
 }

 .list-group-item {
   border: none;
 }

 .alert__container {
   margin: 2rem 0 1rem 0;
 }

 main {
   padding: 2rem;
 }