<section>
  <%= form_with model: @category do |f|  %>
    <div class = "form-group">
      <%= f.label :category_name %>
      <%= f.text_field :category_name, class: 'form-control'%>
    </div>
    <%= f.submit action_name, class: 'btn btn-primary'%>
  <% end %>
</section>