<section class="content">
  <section class="album px-5">
    <h1 class = "catalog__header">Update a Category's info</h1>
    <%= render partial: "category", locals: {action_name: "Update Category" } %>
  </section>
</section>