<section class="content">
  <section class="album px-5">
    <h1 class = "catalog__header">Create a Category</h1>
    <%= render partial: "category", locals: {action_name: "Create Category" }%>
  </section>
</section>
