<section class="content">
  <section class="album px-5">
    <h2>Name: <%= @category.category_name %> </h2>
    <% @category.products.each do |product| %>
    <p><%= product.name%></p>
    <% end %>

      <%= link_to "Back to categories", root_path, class: "button" %>
<!--      If we have to edit or destroy categories we can add those buttons, but we wont do that here-->
      <%#= link_to "Edit", edit_category_path(@category.id), class: "button"%>
      <%#= link_to "Delete", category_path(@category.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"%>
    </section>
</section>
